body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  max-height: 50vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #033452;
  color: white;
}

.form {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customForm {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customForm h2 {
  margin-bottom: 20px; /* Adds space below the title */
}

.customForm input {
  margin-bottom: 15px; /* Adds space between input fields */
  padding: 10px;
  width: 300px; /* Adjusts the width of input fields */
  border-radius: 5px;
  border: 1px solid #ddd;
}

.customForm button {
  padding: 10px 20px;
  margin-bottom: 20px; /* Adds space below the button */
  border-radius: 5px;
  background-color: #033452;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.loginForm p {
  margin-top: 10px; /* Adds space above the paragraph */
}

.loginForm a {
  color: #0056b3;
  text-decoration: none;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
}

.cusmtomInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: auto;
}

.form select {
  width: 50%;
}

.form button {
  padding: 5px 20px;
  background-color: #033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
}

/* Payemnt Card Styling */

.payment-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 300px;
  margin: 20px auto;
}

.payment-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.card-header p {
  margin-top: 5px;
  color: #777;
  font-size: 0.9rem;
}

.card-details {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.card-details p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  background-color: #0c67a0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #084d78;
}
